.btn {
  width: 100px;
  outline: none;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 8px;
  transition: all ease-in-out 0.4s;
  font-family: 'Times New Roman', Times, serif;

  &:hover {
    color: #fff;
    cursor: pointer;
  }

  &-play {
    color: lightsalmon;
    border: 1px solid lightsalmon;

    &:hover {
      background-color: lightsalmon;
    }
  }

  &-login {
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    margin: 0 10px 0 0;

    &:hover {
      background-color: cornflowerblue;
    }
  }

  &-logout {
    color: pink;
    border: 1px solid pink;
    margin: 0 10px 0 0;

    &:hover {
      background-color: pink;
    }
  }

  &-register {
    color: lightseagreen;
    border: 1px solid lightseagreen;

    &:hover {
      background-color: lightseagreen;
    }
  }

  &-prev {
    color: gray;
    border: 1px solid gray;

    &:hover {
      background-color: gray;
    }
  }

  &-next {
    color: green;
    border: 1px solid green;
    margin: 0 10px;

    &:hover {
      background-color: green;
    }
  }

  &-exit {
    color: red;
    border: 1px solid red;

    &:hover {
      background-color: red;
    }
  }

  &-answer {
    font-size: 14px;
    background-color: transparent;
    border: 1px solid rebeccapurple;
    width: calc(100vw - 40px);
    margin: 5px 20px;

    &:hover {
      background-color: lighten(rebeccapurple, 10%);
    }
  }
}

.score-container {
  padding: 10px 0;
}

.button-container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

// end home

.roll {
  width: 50px;
  height: 50px;
  background-color: deeppink;
  opacity: 0.2;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 10s linear infinite;
}

// start game

// start game component

.answer-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.question-count {
  padding: 0 0 10px 0;
  font-weight: bold;
  font-size: 20px;
}

.buttons-container {
  display: flex;
}

// end game

// containers

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

// registration

.title {
  padding: 20px;
  font-size: 24px;
  font-weight: 100;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid #c8c8c8;
  height: 35px;
  margin: 0 0 15px 0;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  background: #fff;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  align-items: flex-start;
}

.navigation {
  display: flex;
  color: #00acdc;
  align-items: center;
}

.username {
  padding: 0 10px;
  // border: 1px solid #00acdc;
  // height: 30px;
  // justify-content: center;
  // align-items: center;
  // display: flex;
  // margin-right: 10px;
}

.error {
  font-size: 16px;
}